main {
  width: 100vw;
  height: 100vh;
  position: relative; /* viktig för att overlay ska funka */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000000;
}

.hero {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.hero-description {
  text-align: center;
}

.portrait {
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.portrait img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 100% 70%;
}
